.albums ul {
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
}

.album-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.album-form input,
.album-form textarea {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.album-form button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
}

.album-form button:hover {
    background-color: var(--primary-color);
}

.album-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 4px;
    transition: background-color 0.3s;
}

.album-item:hover {
    background-color: var(--primary-color);
}

.album-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.album-buttons {
    display: flex;
    gap: 0.5rem;
}

.info-button,
.edit-button,
.delete-button {
    padding: 0.3rem;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    visibility: hidden;
}

.info-button {
    background-color: #588157;
}

.edit-button {
    background-color: #2196f3;
}

.delete-button {
    background-color: #ff4d4d;
}

.album-header:hover .info-button,
.album-header:hover .edit-button,
.album-header:hover .delete-button {
    visibility: visible;
}

.album-header span {
    flex-grow: 1;
}

.album-description-drawer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    background-color: var(--accent-color);
    border-radius: 0 0 4px 4px;
    padding: 0 1rem;
}

.album-item .album-description-drawer {
    max-height: fit-content; /* Adjust based on the expected content size */
    padding: 1rem;
}

.album-description-content {
    display: flex;
    flex-direction: column;
}

.edit-buttons {
    display: flex;
    gap: 0.5rem; /* Add gap between Update and Cancel buttons */
}

.edit-buttons button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
}

.edit-buttons button:hover {
    background-color: var(--primary-color);
}
