.search-results-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
}

.library-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.home-button {
    padding: 0.2rem 0.5rem;
    height: 1.5rem;
    line-height: 1.1rem;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9rem;
}

.home-button:hover {
    background-color: var(--primary-color);
}

.search-results {
    flex: 1;
    overflow-y: auto;
}

.search-results h2 {
    margin-top: 0;
}

.search-results ul {
    list-style: none;
    padding: 0;
}

.search-results li {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
}

.search-results li:last-child {
    border-bottom: none;
}

.result-item {
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid var(--secondary-color);
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.result-details {
    margin-top: 1rem;
    background-color: var(--card-background);
    border-radius: 4px;
    padding: 1rem;
}

.interactive-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.block {
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--card-background);
    overflow-y: auto;
    height: fit-content;
}

.song-update-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.song-update-form input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.song-update-form button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    margin-right: 0.5rem;
}

.song-update-form button:hover {
    background-color: var(--primary-color);
}
